/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Mobile First: estilos base */
.card {
  width: 100%;
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

/* Tablet (≥ 640px) */
@media (min-width: 768px) {
  .card {
    width: 48%;
  }

  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Escritorio (≥ 1024px) */
@media (min-width: 1024px) {
  .card {
    width: 60%;
    flex: 1 1 200px; /* mínimo 200px, se expanden según espacio */
  }
  .card-container{
   max-width: 70%;
  }
  
}


